<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DoodleAnims.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DoodleAnims.Properties.Settings>
            <setting name="ShowTree" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OrginColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="EndPointColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="OrginMarkerSize" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="EndPointMarkerSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="OrginMarkerType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndPointMarkerType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
        </DoodleAnims.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
